doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="/javascripts/spin.min.js", type="application/javascript")
		script(src="/javascripts/dygraph-combined.js", type="application/javascript")
		script(src="/javascripts/q_learning_display.js", type="application/javascript")
	body
		block content
